.head{
    background: #26d0c9;
    height: 55px;
}

.header-logo {
    float: left;
    color: white;
    padding: 5px 40px;
    /* padding-left: 40px;
    padding-right: 40px; */
    text-align: center;
    font-size: 36px;
}

.head li{
    float: left;
    padding: 16px;
    list-style: none;
    color: white;
    font-size: 18px;
}

.main1{
    background-color: azure;
    height: 600px;
}

.lesson{
    height: 100px;
    margin: 100px;
    width: 200px;
    float: left;
}

.lesson img{
    height: 200px;
}

.lesson p{
    width: 100%;
}

.foot{
    background-color: plum;
    height: 270px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.link{
    color: #000;
}

.foot h3{
    font-size: 24px;
    padding-top: 70px;
}

.foot i{
    font-size: 36px;
    margin: 5px;
}

/*

SEPARATOR BETWEEN INDEX AND BASIC-CSS

*/

.header {
    margin: auto;
    background-color: lightgreen;
    padding: 15px;
}

.menu {
    width: 900px;
    margin: auto;
    background-color: lightgreen;
    padding: 15px;
}

.article {
    width: 900px;
    margin: auto;
    background-color: lightgoldenrodyellow;
    padding: 15px;
}

.footer {
    width: 900px;
    margin: auto;
    background-color: lightgreen;
    padding: 15px;
}
